<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
        </script>       
    </head>
    <body>
        <h1>Vue first project Todolist</h1>
        <div id="app">
            <ol >
                <li v-for="todo in todos" :class="[todo.done?'done':'nodone']">
                    <input type='checkbox' @change="toggle(todo)" :checked="todo.done">
                    <del v-if="todo.done">{{todo.todo}}</del>
                    <span v-else>{{todo.todo}}</span>
                </li>
            </ol>
            <input type="text" v-model="newtodo" id="newtodo">
            <button @click="addTodo">Add Todo</button>
        </div>
        <script>
           new Vue({
               el: '#app',
               data: {
                   todos: [
                       {todo: "learn Javascript", done: true},
                       {todo: "learn CSS", done: false},
                       {todo: "learn Bootstrap", done: false},
                   ],
                   newtodo: ""
               },
               methods: {
                   addTodo: function(){
                       this.todos.push({todo: this.newtodo, done: false})
                   },
                   toggle: function(todo){
                       todo.done = !todo.done;
                   }
               }
           })
        </script>
    </body>
</html>