<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <h1>Vue First project Todolist</h1>
        <div id="app">

            <ol>
                <li v-for="todo in todos">
                    <input type="checkbox" @change="toggle(todo)" :checked="todo.completed">
                    <del v-if="todo.completed">{{todo.title}}</del>
                    <span v-else>{{todo.title}}</span>
                </li>
            </ol>
            <input type="text" v-model="newtitle">
            <button @click="addTodo">新增待辦事項</button>

        </div>
        <script>
                new Vue({
                    el: '#app',
                    data: {
                        todos: [
                            {
                                title: "learnign CSS",
                                completed: true
                            },
                            {
                                 title: "learning JS",
                                 completed: false
                            }
                        ],
                        newtitle: ""
                    },
                    methods: {
                        toggle: function(todo){
                            todo.completed = !todo.completed;
                        },
                        addTodo: function(){
                            this.todos.push({title: this.newtitle, completed: false});
                            this.newtitle = ""
                        }
                    }
                });
            </script>
    </body>
</html>