<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- development version, includes helpful console warnings -->
	<!-- <script src="node_modules//vue//dist//vue.js"> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>
    <div class="" id="app">
      first div: name: {{name}} and Message: {{message}}
    </div><br>
	<script>
	var app=new Vue({
	el: '#app',
	data: {
    message: 'Hello Vue!',
    name: 'Pochi Chen'
	}
	});
	</script>
	<div id="app-2">
  <span v-bind:title="message">
    滑鼠移到此處看看效果　（　Title ）
  </span>
</div><br>
  <script type="text/javascript">
    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })
    </script>
    <div class="" id="app-3">
      <span v-if="seen"> Now you can see me!
      </span>
    </div>
    <script type="text/javascript">
      var app3=new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
    </script>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos" >
          {{ todo.title }}
        </li>
      </ol>
    </div>
    <script type="text/javascript">
      var app3=new Vue({
        el: '#app-4',
        data: {
          todos: [{
            title: 'Exercise 10 min',
            completed: false
          },{
            title: 'Reading 20min',
            completed: false
          },{
            title: 'Shopping shoe',
            completed: true
          }
          ]
        }
      })
    </script>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>
<script type="text/javascript">
var app5 = new Vue({
el: '#app-5',
data: {
  message: 'Hello Vue.js!'
},
methods: {
  reverseMessage: function () {
    this.message = this.message.split('').reverse().join('')
  }
}
});
</script>
<div class="" id="app-6">
  <p>App-6 Message: {{message}}</p>
  <input v-model="message" type="text" name="" value="">
</div>
<script type="text/javascript">
var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Buex!'
  }
});
// var objx = {
//   a: 1,
//   b:100,
//   c:'okc'
// }
// var appx = new Vue({
//   data: objx
// })
</script>
  </body>
</html>
